<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Articles</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="logo">writeBlog.com</div>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/article/">All Articles</a></li>
                <li><a href="/article/create">Create Article</a></li>
            </ul>
        </nav>
    </header>

    <section class="index-s">
        <a class="create" href="/article/create">Create Blog!</a>
        <div>Go:</div>
        <p>/article/create -> To create article.</p>
        <p>/article -> To fetch all articles.</p>
        <p>/article/:id -> To get a specific article.</p>
        <p>/article/:id/update -> To update a specific article.</p>
        <p>/article/:id/delete -> To delete a specific article.</p>
    </section>
</body>
</html>